<div class="container main-container">
    <hr>
    <h1>
        Demo <small> Angular </small>
    </h1>
    <app-ng-style></app-ng-style>
    <hr>
    <!-- aplicar estilos a un solo componente -->
    <p></p>
    <h2>Aplicar estilos a un solo componente</h2>

    <app-css></app-css>
    <p>
        Hola mundo desde app.components, no lo afecta la definición de estilos interna.
    </p>
    <p></p>
    <hr>
    <h2>Agregando clases de estilos en nuestros componentes</h2>

    <app-clases></app-clases>
    <hr>
    <h4>Usando una directiva</h4>
    <p appResaltar>Cambiar el fondo con directiva</p>
    <p [appResaltar]="'blue'">Cambiar el fondo con directiva enviado parametro nuevo color</p>
    <hr>
    <h4>ngSwicht Multiples opciones</h4>
    <app-ng-switch [alerta]="'warning'"></app-ng-switch>

    <hr>
</div>