<div class="container main-container">
    <hr>
    <h1>
        Demo <small> Angular </small>
    </h1>
    <app-ng-style></app-ng-style>
    <hr>
    <!-- aplicar estilos a un solo componente -->
    <p></p>
    <h2>Aplicar estilos a un solo componente</h2>

    <app-css></app-css>
    <p>
        Hola mundo desde app.components, no lo afecta la definición de estilos interna.
    </p>
    <p></p>
    <hr>
    <h2>Agregando clases de estilos en nuestros componentes</h2>

    <app-clases></app-clases>
    <hr>
</div>