<div [ngClass]="alerta" class="alert" role="alert">
    This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<button type="button" (click)="alerta ='alert-info'" class="btn btn-info">Info</button>
<button type="button" (click)="alerta ='alert-success'" class="btn btn-success">Success</button>
<br><br>
<h3 [ngClass]=" {'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
    Hola Mundo
</h3>
<button type="button" (click)="propiedades.danger =!propiedades.danger" class="btn" [ngClass]=" {'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
  Cambiar
</button>
<br><br>
<!-- proceso que permite condicionar la clase de estilo y cambiar icono del boton
cuando espera que termine el proceso asincrono. -->
<h3>Proceso asíncrono esperar boton</h3>
<button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" [disabled]="cargando">
  <i [ngClass]="{'fa-save':!cargando, 'fa-refresh fa-spin':cargando}" class="fa"></i>

<span *ngIf="!cargando"> Guardar Cambios</span>
<span *ngIf="cargando"> Espere por favor..</span>
</button>